= form_tag(url_for(controller: 'admin/orders', action: 'search'), method: :get, class: 'form-inline') do
  = label_tag :distance, "Search orders:", class: 'control-label'
  = text_field_tag :search_text
  = select_tag :search_by, options_for_select({'Member': 'member', 'Referralcode': 'referral_code', 'OrderID': 'order_id', 'PaypalToken': 'paypal_token', 'Paypal PayerID': 'paypal_payer_id' })
  = submit_tag "Search", class: 'btn btn-primary'
