- content_for :title, t('.title')


- content_for :breadcrumbs do
  %li.breadcrumb-item.active= link_to 'Crops', crops_path

.row
  .col
    %h1= t('.title')
  .col
    - if can? :wrangle, Crop
      = link_to 'Wrangle Crops', wrangle_crops_path, class: 'btn btn-secondary'
    - if can? :create, Crop
      = link_to 'Add New Crop', new_crop_path, class: 'btn btn-primary'

= render 'crops/filter'


%section.crops
  %h2 Crops
  = will_paginate @crops
  .index-cards
    - @crops.each do |crop|
      = render 'crops/thumbnail', crop: crop

  = will_paginate @crops

%section.open-data
  %h3= t('label.data')
  %ul.nav#open-data
    - ['csv', 'json', 'rss'].each do |format|
      %li.list-group-item
        = link_to crops_path(format: format) do
          = icon 'fas', format.to_s
          = format.upcase