.row
  .col-md-6.mb-6.d-flex.align-items-stretch

    .card
      .card-body
        %h2 Harvest by latutude and month
        - (90..-90).step(-10).each do |latitude|
          .row
            .col-2=latitude
            .col
              - (1..12).each do |month|
                - if @crop.harvest_months(latitude).keys().include?(month.to_f)
                  .badge.badge-info.badge-harvesting{id: "month-#{month}"}
                    = I18n.t('date.abbr_month_names')[month]
                - else
                  .badge.text-muted{'aria-hidden': "true", id: "month-#{month}"}
                    = I18n.t('date.abbr_month_names')[month]
  .col-md-6.mb-6.d-flex.align-items-stretch
    .card
      .card-body
        %h2
          = icon 'fas', 'map'
          Crop Map
        %p
          Only plantings by members who have set their locations are shown on this map.
          - if current_member && current_member.location.blank?
            = link_to "Set your location.", edit_member_registration_path
        #cropmap.map